# Importing data from csv files

In [4]:
# Listing directories and folders in this env_
import os
os.listdir()

['.ipynb_checkpoints',
 'Importing_Data_from_Different_Files.ipynb',
 'main.py',
 'supermarkets']

In [5]:
import pandas as pd

In [6]:
df1 = pd.read_csv("supermarkets/supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

# Importing data from json files

In [7]:
df2 = pd.read_json("supermarkets/supermarkets.json")
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

# Importing data from excel files (xlsx)

In [8]:
df3 = pd.read_xlsx("supermarkets/supermarkets.xlsx")
df3

AttributeError: module 'pandas' has no attribute 'read_xlsx'